.box {
    width: 250px;
    height: 90px;
    background-color: #3498db;
    padding: 10px;
    margin: 10px;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    box-shadow: 1px 5px 7px 0px lightgrey;
}

.map-text {
    text-align: left;
    margin: 0;
    color: #000;
}
.highcharts-credits {
    display: none;
}

.dashboard-year {
    padding:15px; 
    border: 1px solid grey;
    border-radius:5px;
    background: white;
    color: black;
    height: 100%;

}

.search-reset{
    display: flex;
    align-items: center;
    margin-top: 30px;
}