.box {
  width: 250px;
  height: 111px;
  background-color: #0078d7;
  padding: 10px;
  margin: 10px;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  box-shadow: 7px 6px 12px #ddd;
  display: inline-block;
}

.map-text {
  text-align: left;
  background-color: #3090C7;
  display: block;
  color: #fff;
  padding: 8px 16px;
  margin-left: 9px;
  border-radius: 5px;
}

.highcharts-credits {
  display: none;
}

.dashboard-year {
  padding: 15px;
  border: 1px solid grey;
  border-radius: 5px;
  background: white;
  color: black;
  height: 100%;
}

.search-reset {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.country-map {
  border: 1px solid #ddd;
  padding: 11px;
  border-radius: 5px;
}
.country-map .map {
  height: 600px;
  margin-top: -47px;
}

.card {
  box-shadow: 0px 0px 0px !important;
}

.main-title {
  padding-left: 36px !important;
  padding-top: 21px !important;
  font-weight: bold;
  margin: 0;
}

.dashboard .select2-container--default .select2-selection--multiple .select2-selection__rendered li:first-child.select2-search.select2-search--inline .select2-search__field {
  padding: 1px 0 !important;
}
.dashboard .dashboard-filter {
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 25px #cdcdcd;
}
.dashboard .form-group select {
  font-size: 13px;
  margin: 5px 0px;
  color: #404040;
  border: 1px solid #dfdfdf;
  border-radius: 0.25rem;
  width: 100%;
}
.dashboard .dashboard-table {
  max-height: 590px;
  overflow-y: auto;
}
.dashboard .button {
  border-radius: 22px;
  padding: 8px 24px;
  background-color: #337ab7 !important;
}
.dashboard .stateImage {
  height: 100%;
  max-width: 100%;
}
.dashboard input.select2-search__field {
  margin: 0 !important;
  padding: 0 !important;
}
.dashboard .select2-container--default .select2-selection--multiple {
  height: auto !important;
  margin: 5px 0;
  min-height: auto !important;
}

.user-icon {
  display: block;
}
.user-icon i {
  font-size: 34px;
  margin-bottom: 7px;
  color: #fff;
}

.box .cases {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
.box .case-title {
  font-size: 13px;
}

.sticky {
  position: fixed;
  top: 56.5px;
  width: 82%;
  background: #fff;
  z-index: 99999999;
  box-shadow: 0px 5px 15px #cdcdcd !important;
  padding: 0px 13px !important;
}
.sticky select {
  margin: 5px 0px 0;
}
.sticky .form-group {
  margin: 10px 0 0px !important;
}
@media (max-width: 1550px) {
  .sticky {
    width: 77.5%;
  }
  h1.text-dark.text-left.main-title {
    font-size: 22px !important;
  }
}
@media (max-width: 1300px) {
  .sticky {
    width: 73%;
  }
  .dashboard .dashboard-filter h1 {
    font-size: 20px !important;
  }
}
@media (max-width: 1100px) {
  .sticky {
    width: 68.5%;
  }
}
.main-sidebar, .main-header, .layout-navbar-fixed .wrapper .brand-link {
  background-color: #3f51b5 !important;
}

.form-control-sidebar, .btn-sidebar {
  background-color: #fff !important;
  color: #000 !important;
}

.accordion {
  width: 100%;
  max-width: 360px;
  margin: 15px auto 20px;
  /* background: #FFF; */
  border-radius: 4px;
  position: relative;
}

.accordion .link {
  cursor: pointer;
  display: block;
  padding: 15px 12px 15px 20px;
  color: #4D4D4D;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #CCC;
  position: relative;
  transition: all 0.4s ease;
  background: #fff !important;
  border-radius: 5px;
  margin: 3px;
}
.accordion .link a, .accordion .link i {
  color: #333 !important;
}

.accordion li:last-child .link {
  border-bottom: 0;
}

.accordion li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #595959;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px;
}

.accordion li.open .link {
  color: #b63b4d;
}

.accordion li.open i {
  color: #b63b4d;
}

.accordion li.open i.fa-chevron-down {
  transform: rotate(180deg);
}

/**
* Submenu
-----------------------------*/
.accordion .nav-link {
  padding: 20px;
}

.submenu {
  display: none;
  background: #444359;
  font-size: 14px;
}

.submenu li {
  border-bottom: 1px solid #4b4a5e;
}

.submenu a {
  display: block;
  text-decoration: none;
  color: #d9d9d9;
  padding: 12px;
  padding-left: 42px;
  transition: all 0.25s ease;
}

.submenu a:hover {
  background: #b63b4d;
  color: #FFF;
}

.search {
  position: relative;
}
.search i {
  position: absolute;
  right: 9px;
  top: 9px;
  color: #6e6e6e;
}

h1.text-dark.text-left.main-title {
  font-size: 22px;
  color: #fff !important;
  font-weight: 400;
  margin: 11px 7px;
  padding: 8px 39px !important;
  display: inline-block;
}

.brand-link {
  border-bottom: 1px solid #ddd !important;
}

.dashboard .dashboard-filter h1 {
  font-size: 19px !important;
  font-weight: 400;
}

.breadcrumb {
  background: transparent !important;
}

.sidebar.os-host.os-theme-light.os-host-resize-disabled.os-host-scrollbar-vertical-hidden.os-host-transition.os-host-overflow.os-host-overflow-x .dashboard-title a {
  visibility: hidden;
}

.main-sidebar, .main-header, .layout-navbar-fixed .wrapper .brand-link {
  background-image: url("../images/black-bg.jpg");
}

.box:nth-child(1) {
  background: linear-gradient(0deg, #d53369 0%, #daae51 100%);
}

.box:nth-child(2) {
  background-image: linear-gradient(181.3deg, rgb(0, 186, 209) 0.2%, rgb(68, 36, 164) 100%);
}

.box:nth-child(3) {
  background: linear-gradient(180deg, #1CB5E0 0%, #000851 100%);
}

.table thead th {
  background-color: #3090C7;
  color: #fff;
}

.table-bordered thead td, .table-bordered thead th {
  vertical-align: middle !important;
}

 .dashboard .button {
    /* border-radius: 22px; */
    padding: 3px 15px;
    font-size: 14px;
}



@media print {
 
  /* body{
      width: 21cm !important;
      height: 29.7cm !important;
      margin: 0px !important; 
 }  */

.country-map{
  width: 100%;
}
.col-md-6 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

}

.nrcp-main-title {
  font-size: 24px;
  background: #ab4024;
  color: #fff !important;
  margin: 74px 6px 18PX !important;
  padding: 5px 34px !important;
  border-radius: 5PX;
}/*# sourceMappingURL=dashboard.css.map */

.nrcp-main-title h1{
    font-size: 22px;
    margin: 0;
    font-weight: 400;
    line-height: 1;
}
.nrcp-main-title .breadcrumb-item{
  font-size: 15px;
  color: #fff;
  font-weight: 400;
}
.nrcp-main-title .breadcrumb-item.active {
  color: #e2e2e2;
}
.nrcp-main-title .breadcrumb-item a{
  font-size: 18px;
  color: #fff;
}


.sidebar.os-host.os-theme-light.os-host-resize-disabled.os-host-scrollbar-vertical-hidden.os-host-transition.os-host-overflow.os-host-overflow-x .dashboard-title{
  display: none !important;
}

.breadcrumb-item+.breadcrumb-item::before {
  color: #e4e4e4;
}

.country-map .case-type{
  position: absolute;
  top: 10px;
  left: 16px;
  z-index: 99;
}




.table-responsive {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #ddd #999; /* violet pour le thumb, gris pour la track */
}

.table-responsive::-webkit-scrollbar {
  width: 7px;
  border-radius: 10px !important;
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: #ddd; /* violet pour le thumb */
  border-radius: 10px !important;
}

.table-responsive::-webkit-scrollbar-thumb:hover {
  background-color: #333; /* violet lÃ©gÃ¨rement plus foncÃ© au survol */
}

.table-responsive::-webkit-scrollbar-track {
  background-color: #fff; /* gris pour la track */
  border-radius: 10px !important;
}


.main-header .navbar-nav .nav-item .nav-link[data-widget="pushmenu"]{
  display: none !important;
}