/**
* Submenu
-----------------------------*/
/* body{
      width: 21cm !important;
      height: 29.7cm !important;
      margin: 0px !important;
 }  */

 body {
	font-family: "Open Sans", sans-serif !important;
  }

  $bg-primary:#0c72ad;
  .highcharts-exporting-group{
	display: none;
  }
  .box {
	width: 200px;
  height: 111px;
  background-color: #0078d7;
  padding: 10px;
  margin: 0px;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  box-shadow: 7px 6px 12px #ddd;
  display: inline-block;
  }
  .laboratory-card .box {
	width: 100%;
	// height: 111px;
	background-color: #0078d7;
	padding: 10px;
	// margin: 10px;
	color: #fff;
	border-radius: 5px;
	text-align: center;
	font-size: 15px;
	box-shadow: 7px 6px 12px #ddd;
	display: flex;
    min-height: 91px;
	align-items: center;
	margin: 0;
	box-shadow: 0px 0px 10px #b7b7b7;
  }
  .box .cases {
	font-size: 18px;
	font-weight: bold;
	color: #fff;
  }
  .laboratory-card .box .cases {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    width: 78%;
    text-align: left;
  }
  .box .case-title {
	font-size: 13px;
  }
 .laboratory-card .box .case-title {
	font-size: 22px;
    width: 100%;
    display: block;
    // text-align: center;
  }
  
  .laboratory-card .user-icon {
	img{
		width: 100%;
    background-color: #fff;
    border-radius: 100%;
    padding: 8px;
	}
  }
  .box:nth-child(1) {
	background: linear-gradient(0deg, #d53369 0%, #daae51 100%);
  }
  .box:nth-child(2) {
	background-image: linear-gradient(181.3deg, rgb(0, 186, 209) 0.2%, rgb(68, 36, 164) 100%);
  }
  .box:nth-child(3) {
	background: linear-gradient(180deg, #1CB5E0 0%, #000851 100%);
  }
  #laboratory-map {
	height: 600px;
  }
  .map-text {
	text-align: left;
	background-color: $bg-primary;
	display: block;
	color: #fff;
	padding: 8px 16px;
	margin-left: 9px;
	border-radius: 5px;
  }
  
  .highcharts-credits {
	display: none;
  }
  
  .dashboard-year {
	padding: 15px;
	border: 1px solid grey;
	border-radius: 5px;
	background: white;
	color: black;
	height: 100%;
  }
  
  .search-reset {
	display: flex;
	align-items: center;
	margin: 7px 0 5px;
	justify-content: center;
  }
  
  .country-map {
	border: 1px solid #ddd;
	padding: 11px;
	border-radius: 5px;
  }
  .country-map .map {
	height: 600px;
	margin-top: -42px;
  }
  .country-map .case-type {
	position: absolute;
	/*top: 10px;*/
	/*left: 16px;*/
	z-index: 99;
  }
  
  .card {
	box-shadow: 0px 0px 0px !important;
  }
  
  .main-title {
	padding-left: 36px !important;
	padding-top: 21px !important;
	font-weight: bold;
	margin: 0;
  }
  
  .dashboard .select2-container--default .select2-selection--multiple {
	height: auto !important;
	margin: 5px 0;
	min-height: auto !important;
  }
  .dashboard .select2-container--default .select2-selection--multiple .select2-selection__rendered li:first-child.select2-search.select2-search--inline .select2-search__field {
	padding: 1px 0 !important;
  }
  .dashboard .dashboard-filter {
	padding: 15px 20px;
	border-radius: 5px;
	// box-shadow: 0px 0px 25px #cdcdcd;
	background-color: #fff;
	box-shadow: 0 0 5px 0 rgba(43,43,43,.1), 0 11px 6px -7px rgba(43,43,43,.1);

  }
  .dashboard .dashboard-filter h1 {
	font-size: 19px !important;
	font-weight: 400;
  }
  .dashboard .form-group select {
    font-size: 14px;
    color: #404040;
    border: 1px solid #ebedf2;
    border-radius: 4px;
    width: 100%;
    text-transform: capitalize;
}
  .dashboard .dashboard-table {
	max-height: 590px;
	overflow-y: auto;
  }
  .dashboard .button {
	border-radius: 22px;
	padding: 8px 24px;
	background-color: #1d7bbe !important;
	padding: 8px 23px;
	font-size: 14px;
  }
  .dashboard .stateImage {
	height: 100%;
	max-width: 100%;
  }
  .dashboard input.select2-search__field {
	margin: 0 !important;
	padding: 0 !important;
  }
  
  .user-icon {
	display: block;
  }
 .laboratory-card .user-icon {
	display: block;
	width: 20%;
	width:60px;
  }
  .user-icon i {
	font-size: 34px;
	margin-bottom: 7px;
	color: #fff;
  }
  .laboratory-card .user-icon i {
	font-size: 25px;
    margin-bottom: 7px;
    color: #0c72ad;
    background: #fff;
    border-radius: 100%;
    padding: 11px;
	width: 60px;
    height: 60px;
	line-height: 1.5;
  }
  
  .sticky {
	position: fixed;
	top: 56.5px;
	margin-left: -30px;
	width: 85.3%;
	background: #fff;
	z-index: 999;
	box-shadow: 0px 5px 15px #cdcdcd !important;
	padding: 10px 15px !important;
  }
  .sticky select {
	margin: 5px 0px 0;
  }
  .sticky .form-group {
	margin: 10px 0 0px !important;
  }
  
  .main-sidebar {
	/* background-color: #3f51b5 !important; */
	// background-image: url("../images/black-bg.jpg");
	background-color: #263544 !important;
	.accordion{
		.link{
			a{
				margin-left: 0;
				padding: 10px;
			}
		}
		.sidebarAccordion{
			&:has(.show){
				.link {
					a.accordion-heading{
						background-color: #1d2531 !important;
					}
				}
			}
			.collapse{
				padding-left: 15px;
				background-color: #1d253180;
				padding-bottom: 2px;
				.card-body{
					.link{
						a{
							&::before{
								content: "\f105";
								font-family: 'fontawesome';
								margin-right: 11px;
								font-size: 13px;
							}
						}
					}
				}
			}
			.link{
				a{
					margin-left: 0;
					padding: 10px 10px;
					transition: 0.3s;
					width: 100%;
					&:hover{
						margin-left: 10px;
					}
				}
			}
			i{
				position: static !important;
				padding-right: 10px;
			}
		}
	}

  }
  
  .main-header {
	/* background-color: #3f51b5 !important; */
	background-image: url("../images/black-bg.jpg");
  }
  .main-header .navbar-nav .nav-item .nav-link[data-widget=pushmenu] {
	display: none !important;
  }
  
  .layout-navbar-fixed .wrapper .brand-link {
	/* background-color: #3f51b5 !important; */
	background-image: url("../images/black-bg.jpg");
  }
  
  .form-control-sidebar {
	background-color: #fff !important;
	color: #000 !important;
  }
  
  .btn-sidebar {
	background-color: #fff !important;
	color: #000 !important;
  }
  
  .accordion {
	width: 100%;
	max-width: 360px;
	margin: 15px auto 20px;
	border-radius: 4px;
	position: relative;
  }
  .accordion .link {
	cursor: pointer;
  display: block;
//   padding: 10px 14px;
  color: #4D4D4D;
  font-size: 16px;
  font-weight: 700;
  border-bottom: 1px solid #CCC;
  position: relative;
  transition: all 0.4s ease;
  background: #fff !important;
  border-radius: 5px;
  margin: 3px;
  }
  
  .sidebar .accordion .link{
	background-color: transparent !important;
	a{
		i{
			padding-right: 10px;
			font-size: 13px;
		}
	}
  }
  .laboratory-card .accordion .link {
	cursor: pointer;
	display: block;
	padding: 10px 14px;
	color: #4D4D4D;
	font-size: 14px;
    font-weight: 600;
	border-bottom: 1px solid #CCC;
	position: relative;
	transition: all 0.4s ease;
	background: #fff !important;
	border-radius: 5px;
	margin: 3px;
  }
  .accordion .link a {
	color: #333 !important;
  }
  .accordion .link i {
	color: #ebeef3 !important;
  }
  .accordion li:last-child .link {
	border-bottom: 0;
  }
  .accordion li i {
	// position: absolute;
	top: 16px;
	left: 12px;
	font-size: 18px;
	color: #595959;
	transition: all 0.4s ease;
  }
  .accordion li i.fa-chevron-down {
	right: 12px;
	left: auto;
	font-size: 16px;
  }
  .accordion li.open .link {
	color: #b63b4d;
  }
  .accordion li.open i {
	color: #b63b4d;
  }
  .accordion li.open i.fa-chevron-down {
	transform: rotate(180deg);
  }
  .accordion .nav-link {
	padding: 20px;
  }
  
  .submenu {
	display: none;
	background: #444359;
	font-size: 14px;
  }
  .submenu li {
	border-bottom: 1px solid #4b4a5e;
  }
  .submenu a {
	display: block;
	text-decoration: none;
	color: #d9d9d9;
	padding: 12px;
	padding-left: 42px;
	transition: all 0.25s ease;
  }
  .submenu a:hover {
	background: #b63b4d;
	color: #FFF;
  }
  
  .search {
	position: relative;
  }
  .search i {
	position: absolute;
	right: 9px;
	top: 9px;
	color: #6e6e6e;
  }
  
  h1.text-dark.text-left.main-title {
	font-size: 22px;
	color: #fff !important;
	font-weight: 400;
	margin: 11px 7px;
	padding: 8px 39px !important;
	display: inline-block;
  }
  
  .brand-link {
	border-bottom: 1px solid #ddd !important;
  }
  
  .breadcrumb {
	background: transparent !important;
  }
  
  .sidebar.os-host.os-theme-light.os-host-resize-disabled.os-host-scrollbar-vertical-hidden.os-host-transition.os-host-overflow.os-host-overflow-x .dashboard-title {
	display: none !important;
  }
  .sidebar.os-host.os-theme-light.os-host-resize-disabled.os-host-scrollbar-vertical-hidden.os-host-transition.os-host-overflow.os-host-overflow-x .dashboard-title a {
	visibility: hidden;
  }
  
  .table thead th {
	background-color: $bg-primary;
	color: #fff;
  }
  
  .table-bordered thead td {
	vertical-align: middle !important;
  }
  .table-bordered thead th {
	vertical-align: middle !important;
  }
  
  .nrcp-main-title {
	font-size: 24px;
	background: #ab4024;
	color: #fff !important;
	margin: 0px 6px 18PX !important;
	padding: 5px 20px !important;
	border-radius: 5PX;
  }
  .nrcp-main-title h1 {
	font-size: 18px;
	margin: 0;
	font-weight: 400;
	line-height: 1;
	padding: 10px 0;
  }
  .nrcp-main-title .breadcrumb-item {
	font-size: 14px;
	color: #fff;
	font-weight: 400;
  }
  .nrcp-main-title .breadcrumb-item a {
	font-size: 14px;
	color: #fff;
  }
  .nrcp-main-title .breadcrumb-item.active {
	color: #e2e2e2;
  }
  
  .breadcrumb-item + .breadcrumb-item::before {
	color: #c9c5c5 !important;
  }
  
  .table-responsive {
	overflow-y: auto;
	scrollbar-width: thin;
	// scrollbar-color: #ddd #999;
  }
  .table-responsive::-webkit-scrollbar {
	width: 7px;
	border-radius: 10px !important;
  }
  .table-responsive::-webkit-scrollbar-thumb {
	background-color: #ddd;
	border-radius: 10px !important;
  }
  .table-responsive::-webkit-scrollbar-thumb:hover {
	background-color: #333;
  }
  .table-responsive::-webkit-scrollbar-track {
	background-color: #fff;
	border-radius: 10px !important;
  }
  
  .highcharts-menu hr {
	margin: 0 !important;
  }
  
  #barchart_materialdeath path {
	fill: red;
  }
  #barchart_materialdeath rect[width="12"] {
	fill: red;
  }
  
  @media (max-width: 1550px) {
	.sticky {
	  width: 81.5%;
	}
	h1.text-dark.text-left.main-title {
	  font-size: 22px !important;
	}
  }
  @media (max-width: 1300px) {
	.sticky {
	  width: 78%;
	}
	.dashboard .dashboard-filter h1 {
		font-size: 15px !important;
		font-weight: 600;
	
	}
  }
  @media (max-width: 1100px) {
	.sticky {
	  width: 68.5%;
	}
  }
  @media print {
	.country-map {
	  width: 100%;
	}
	.col-md-6 {
	  flex: 0 0 100%;
	  max-width: 100%;
	}
  }
  .buttons-print {
	background: transparent !important;
	color: #fff !important;
	font-size: 19px !important;
	padding: 3px 4px !important;
	line-height: 10px !important;
	border: 1px solid #fff;
	border-radius: 100%;
	width: 33px;
	height: 32px;
	background: #0c72ad !important;
  }
  
  .country-map .case-type {
	position: relative;
  }
  
  .chart-print {
	background-color: #fff;
	padding: 10px 8px;
	position: absolute;
	right: 14px;
	top: 0;
  }
  
  .chart-print a {
	color: #808080;
	font-size: 14px;
  }/*# sourceMappingURL=dashboard.css.map */
  
  .side-link .active {
	background: #ab4024 !important;
  }
  
  .side-link .active a{
	color: #fff !important;
  }
  .side-link a{
	margin-left: 31px;
  }
  
  .iconmargin-set{
	margin-top: -3px;
  }
  
  
  
  .card-category-2 ul, .card-category-3 ul, .card-category-4 ul, .card-category-5 ul  .card-category-6 ul {
	padding: 0;
  }
	
  .card-category-2 ul li, .card-category-3 ul li, .card-category-4 ul li, .card-category-5 ul li, .card-category-6 ul li {
	list-style-type: none;
	display: inline-block;
	vertical-align: top;
  }
  
  .card-category-2 ul li, .card-category-3 ul li {
	margin: 10px 5px;
  }
  
  .card-category-1, .card-category-2, .card-category-3, .card-category-4, .card-category-5, .card-category-6 {
	font-family: sans-serif;
	margin-bottom: 45px;
	text-align: center;
  }
	.card-category-1 div, .card-category-2 div {
		display:inline-block;
	}
  
	.card-category-1 > div, .card-category-2 > div:not(:last-child) {
		margin: 10px 5px;
		text-align: left;
	}
  
	/* Basic Card */
	.basic-card {
		width:100%; 
		// width: 235px;
		position: relative;
		
		-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
		-o-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
		box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
		border-radius: 9px;
		// background: linear-gradient(0deg, #d53369 0%, #daae51 100%);
		background: radial-gradient(circle farthest-corner at 10% 20%, rgb(0, 152, 155) 0.1%, rgb(0, 94, 120) 94.2%);
	}
	
		.basic-card .card-content {
			padding: 10px 15px;
			color: #ffffff;
		}
  
		.basic-card .card-title {
			font-size: 16px;
			font-family: "Open Sans", sans-serif;
			padding-bottom: 8px;
			font-weight: 600;
		}
  
		.basic-card .card-text {
			line-height: 1.5;
    		font-size: 14px;
		}
  
		.basic-card .card-link {
			padding: 9px 12px;
    		width: -webkit-fill-available;
			border-top: 1px solid #ddd;
		}
  
			.basic-card .card-link a {
				text-decoration: none;
				position: relative;
				padding: 10px 0px;
			}
  
			.basic-card .card-link a:after {
				top: 30px;
				content: "";
				display: block;
				height: 2px;
				left: 50%;
				position: absolute;
				width: 0;
  
				-webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
				-moz-transition: width 0.3s ease 0s, left 0.3s ease 0s;
				-o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
				transition: width 0.3s ease 0s, left 0.3s ease 0s;
			}
  
			.basic-card .card-link a:hover:after { 
				width: 100%; 
				left: 0; 
			}
	
	
	.basic-card-aqua {
		// background-image: linear-gradient(to bottom right, #00bfad, #99a3d4);
		background-image: linear-gradient(to bottom right, #088579, #99a3d4);
	}
  
		.basic-card-aqua .card-content, .basic-card .card-link a {
			color: #fff;
		}
		
		.basic-card-aqua .card-link {
			border-top:1px solid #82c1bb;
			span{
				font-size: 15px;
					font-weight: 600;
			}
		}
  
			.basic-card-aqua .card-link a:after {
				background:#fff;
			}
  
	.basic-card-lips {
		// background-image: linear-gradient(to bottom right, #ec407b, #ff7d94);
		background-image: linear-gradient(to bottom right, #a11142, #ff7d94);
	}
  
		.basic-card-lips .card-content {
			color: #fff;
		}
  
		.basic-card-lips .card-link {
			border-top: 1px solid #ff97ba;
		}
  
			.basic-card-lips .card-link a:after {
				background:#fff;
			}
	
	.basic-card-light {
		border: 1px solid #eee;
	}
  
		.basic-card-light .card-title, .basic-card-light .card-link a {
			color: #636363;
		}
		
		.basic-card-light .card-text {
			color: #7b7b7b;
		}
  
		.basic-card-light .card-link {
			border-top: 1px solid #eee;
		}
  
			.basic-card-light .card-link a:after {
				background:#636363;
			}
  
	.basic-card-dark-1 {
		background-image: linear-gradient(to bottom right, #ab4024, #ab4024);
	}
	.basic-card-dark {
	  background-image: linear-gradient(to bottom right, #252525, #4a4a4a);
  }
.basic-card-dark .card-title, .basic-card-dark .card-link a {
	color:#eee;
}

.basic-card-dark .card-text {
	color: #dcdcdcdd;
}

.basic-card-dark .card-link {
	border-top: 1px solid #636363;
}

.basic-card-dark .card-link a:after {
	background:#eee;
}

section.content.sform{
	.table{
		// display: ;
		flex-wrap: wrap;
		.table-title{
			text-align: center;
			font-size: 16px;
			font-weight: 600;
			background: #21235b;
			color: #fff;
			&::before{
				content: ' ';
			}
		}
		div{
			width: 25%;
			border: 1px solid #dadada;
			padding: 12px;
			background: #edfbffa3;
			font-size: 14px;
		    font-weight: 500;
			display: flex;
			&::before{
				content: '\f101';
					font-family: 'fontAwesome';
					font-size: 15px;
						padding-right: 8px;
						// color: #6bcffc;
						color: #1aabed;
			}
		}
	}			
}

.view-blade{
	table{
		th {
			background: #2788a8;
			padding: 10px;
			color: #fff;
			border-right: 1px solid #fff;
			&:last-child{
				border: none;
			}
		}
		td {
			// background: #b7e0ed;
			background: #d7f5ff;
			border: 1px solid #fff;
			padding: 10px;
			font-size: 14px;
			color: #000;
		}
	}
	.table-title{
		text-align: center;
    font-size: 16px;
    font-weight: 600;
    background: #21235b;
    color: #fff;
    padding: 11px;
	margin-bottom: 10px;
	}
	.nhm-file{
		color: #000;
	}	
}
#nhm-list{
	display: flex;
}
a.nhm-file{
	i{
		color: #ff0000bd;
	}
}
.accordion.laboratory-sidebar .link a{
	// width: 100%;
    // height: 100%;
	display: block;
    padding: 10px 14px;
    color: #ebeef3 !important;
    font-weight: 200;
    font-size: 14px;
    font-family: 'roboto', 'sans-serif';
}
.accordion .link a{
	// width: 100%;
    display: block;
    // height: 100%;
	padding: 10px 14px;
}

.chart-container {
    border: 1px solid #ddd;
    border-radius: 9px;
} 
/* .card-category-1{text-align: left;} */

.accordion.side-link.laboratory-sidebar{
	.link{
		display: flex;
		align-items: center;
		// padding: 0 14px;
	}
}
.institute_year_filter {
	.institute_year_filter{
		position: static;
		top: 18px;
		right: 29px;
		z-index: 99;
		// margin: 8px 0px 0 10px;
		select{
			font-size: 15px;
    padding: 0;
    height: 30px;
		}
	}
}
.dashboard-filter{
	
}

.table.nhmDashboard{
	div{
		a{
			text-transform: capitalize;
		}
	}
}

select[name="state"]{
	text-transform: capitalize;
}

.nhmView{
	table{
		td{
			text-transform: capitalize;
		}
	}
}
.generalDashboard{
	table{
		tr{
			td{
				text-transform: capitalize;
			}
		}
	}
}

.nhmLink{
	margin: 0;
	a{
		background-color: #ddd;
		padding: 11px;
		border-radius: 5px;
		font-size: 14px;
	}
}
button#reset_button {
    // background: #ab4024 !important;
}
div#monthlyReport{
	height: 500px !important;
	text.highcharts-title {
		display: none;
	}
}
div#yearReport{
	height: 500px !important;
	text.highcharts-title {
		display: none;
	}
}


input[type=date]:invalid::-webkit-datetime-edit {
    color: grey !important;
}
input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field {
  color: #888;
}

input[type=date]:invalid::-webkit-datetime-edit {
    color: grey !important;
}

.title {
    font-size: 21px;
    margin-left: 16px;
    font-weight: 600;
}

.btn.bg-danger {
	border-radius: 5px;
	padding: 8px 23px;
    font-size: 14px;

}
.form-group .form-control{
	color: #000;
}

.generate-report{
	border: none;
    color: #fff;
    background: #1d7bbe;
    font-size: 14px;
    padding: 6px 14px;
    border-radius: 34px;
}

.state-graph-filter {
    display: flex;
    flex-wrap: wrap;
}

.state-graph-filter .col {
	flex: 0 1 11% !important;
    padding: 0 0 10px 10px;
	.white_card {
		border: 1px solid #ddd;
		border-radius: 5px;
	}
}
// .row.state-graph-filter {
//     // background: #f7f7f7;
//     background: #ffdada7a;
// }
.row.select-filter{
	gap: 10px;
}
tspan.highcharts-text-outline {
    font-size: 13px;
    font-weight: 300;
    color: #7e7172;
    text-transform: capitalize;
    stroke: none;
    fill: none !important;
}
i.fa.fa-file-pdf-o {
    color: #cd0000;
	padding: 0 5px;
}
.main-sidebar .brand-text {
    font-size: 16px;
}
table {
	td{
		p{
			padding: 0;
		}
	}
}
span.td-value {
    font-weight: 400;
    color: #323232;
	display: block;
}
.btn {
    border-radius: 18px !important;
}
table tr td input[type=text]:focus-visible, table tr td select:focus-visible{
	outline: none;
}
input[type=date]{
	text-transform: uppercase;
}
td.bggrey input {
    background: #d0cece;
}
.w-30{
	width: 30% !important;
}
table{
	overflow-x: auto;
}
input[name="aadhar_number"], input[type="email"] {
    width: 200px !important;
}
.highchart-title h3 {
    font-size: 19px;
    text-align: center;
    background: #0c72ad;
    color: #fff;
    padding: 9px;
    border-radius: 7px 7px 0px 0px;
}
.dashboard-card {
    box-shadow: 0 0 5px 0 rgba(43, 43, 43, 0.1), 0 11px 6px -7px rgba(43, 43, 43, 0.1) !important;
	background: #fff;
    border-radius: 5px;
}
[data-highcharts-chart]{
	border-radius: 5px;
}
.dashboard-col {
    flex: 0 1 33.33%;
    padding: 0 10px;
}
.col.search-reset{
	justify-content: end;
}

.total-cases {
    position: absolute;
    z-index: 99;
    right: 48px;    top: 25px;
	p{
		font-size: 15px;
    font-weight: bold;
    color: #525252;
	span.value {
		color: #c94c3a;
	}
	}
}

.dataTables_wrapper {
    width: 99.9% !important;
}

.general-profile-filter{
	.row{
		.col{
 
			flex: 0 1 20%;
		}
		.col.search-reset{
			width: 100%;
		}
	}
}

.rabies-test .row .col{
	flex: 0 1 20%;
}
.rabies-test .row .col.search-reset{
	flex: 0 1 100% !important;
	justify-content: center;
}