@media(max-width:1300px){
    .user-icon i {
        font-size: 19px;
        margin-bottom: 7px;
        color: #0c72ad;
        background: #fff;
        border-radius: 100%;
        padding: 8px;
    }

    tspan.highChartTitle {
        font-size: 15px;
        font-weight: 700;
        color: #000 !important;
    }

    .basic-card .card-content {
        padding: 10px 7px;
    }
    .basic-card .card-title {
        font-size: 15px;
    }
    .basic-card .card-link {
        padding: 9px 7px;
    }
    .dashboard-filter .institute_year_filter select {
        font-size: 13px;
       
    }
}

@media(max-width:1399px){
    .chart-container {
        height: 200px !important;
      }
}

@media(min-width:1400px){
    .chart-container {
        height: 300px;
      }
      
}
