@media(max-width:1300px) {
    .user-icon i {
        font-size: 19px;
        margin-bottom: 7px;
        color: #0c72ad;
        background: #fff;
        border-radius: 100%;
        padding: 8px;
    }

    tspan.highChartTitle {
        font-size: 15px;
        font-weight: 700;
        color: #000 !important;
    }

    .basic-card .card-content {
        padding: 10px 7px;
    }

    .basic-card .card-title {
        font-size: 15px;
    }

    .basic-card .card-link {
        padding: 9px 7px;
    }

    .dashboard-filter .institute_year_filter select {
        font-size: 13px;

    }

    .lab-form-d .basic-card .card-title,
    .lab-form-d .basic-card .card-text {
        font-size: 18px;
        text-align: center;
        width: 100%;
    }

    .lab-form-d .basic-card .card-content {
        width: 100%;
        padding: 15px 10px;
    }

    .lab-form-d .basic-card .card-link a,
    .lab-form-d .basic-card-aqua .card-link span {
        font-size: 14px;
        font-weight: 600 !important;
        width: 100%;
    }

    .lab-form-d .basic-card .card-link {
        text-align: center;
    }
}

.lab-form-d .basic-card .card-title,
.lab-form-d .basic-card .card-text {
    font-size: 26px;
    text-align: center;
    width: 100%;
}

.lab-form-d .basic-card .card-content {
    width: 100%;
    padding: 15px 10px;
}

.lab-form-d .basic-card .card-link a,
.lab-form-d .basic-card-aqua .card-link span {
    font-size: 16px;
    font-weight: 600 !important;
    width: 100%;
}

.lab-form-d .basic-card .card-link {
    text-align: center;
}


@media(max-width:1550px) and (min-width:768px) {
    .row.select-filter .col-md-4 {
        width: 100% !important;
        max-width: 100%;
        flex: 0 0 100%;
    }

    .row.select-filter .col-md-8 {
        width: 100% !important;
        max-width: 100%;
        flex: 0 0 100%;
    }

    .box-heading h1.main-heading {
        font-weight: 600 !important;
        font-size: 20px !important;
        margin-bottom: 16px;
    }
    .box-heading h1.main-heading-subtitle {
        font-weight: 600 !important;
        font-size: 17px !important;
        margin-bottom: 16px;
    }
}

@media(max-width:480px) {

    input[name="aadhar_number"],
    input[type="email"] {
        width: 100% !important;
    }
}

@media(max-width:1599px) {

    .state-user-dashboard .box {
        padding: 10px 7px 7px 7px !important;
    }

    .state-user-dashboard .box .cases {
        font-size: 17px;
        font-weight: bold;
        color: #fff;
    }

    .card-mm .col-md-n {
        width: 25% !important;
        flex-basis: auto;
        max-width: none;
        margin-bottom: 20px;
    }

}

@media(max-width:1399px) {
    .chart-container {
        height: 200px !important;
    }

    .title {
        font-size: 17px;
        margin-left: 16px;
        font-weight: 600;
    }

    .layout-footer-fixed .wrapper .content-wrapper {
        padding: 15px 5px;
    }

    .card-mm .col-md-n {
        width: 33.33% !important;
        flex-basis: auto;
        max-width: none;
    }

    .single_crm {
        min-height: 109px;
    }

}

@media(min-width:1400px) {
    .chart-container {
        height: 300px;
    }

    .box-heading {
        display: flex;
    }

    .row.select-filter {
        gap: 0;
        justify-content: space-between;
        flex: 0 0 100%;
    }


}

@media(min-width:1592px) {
    table#general_profiles_TABLE {
        display: table !important;
    }
    
}
@media(min-width:1501px) {
    .rabies-test .row .col{
        flex: 0 1 20%;
    }
    .rabies-test .row .col.search-reset{
        flex: 0 1 100% !important;
        justify-content: center;
    }

    .finance-form .row .col{
        flex: 0 1 27%;
        padding-right: 0;
    }
    .finance-form .row .col.search-reset{
        flex: 0 1 17% !important;
        justify-content: end;
    }

    /* .line-suspected-form .col-md-4:nth-child(n+4):nth-child(-n+7) {
        flex: 0 1 25%;
    }
    .line-suspected-form .col-md-4{

    } */
}
@media(max-width:1550px) {
    .state-graph-filter .col {
        flex: 0 1 16.5% !important;
        padding: 0 0 10px 10px;
    }
}
@media(max-width:1500px) {
    .quality-form .col {
        flex: 0 1 25%;
    }
    .quality-form .col.search-reset {
        flex: 0 1 100% !important;
        justify-content: center;
    }
    .finance-form .row .col{
        flex: 0 1 28%;
        padding-right: 0;
    }
    .finance-form .row .col:nth-child(3){
        flex: 0 1 44%;
        padding-right: 0;
    }
    .finance-form .row .col.search-reset{
        flex: 0 1 100% !important;
        justify-content: center;
    }
}
@media(max-width:1340px) {
    .rabies-test .row .col{
        flex: 0 1 25%;
    }
    .rabies-test .row .col.search-reset{
        flex: 0 1 50% !important;
        justify-content: end;
    }

    .line-suspected-form .col-md-4:nth-child(1), .line-suspected-form .col-md-4:nth-child(2){
        flex: 0 1 50%;
        max-width: 50%;
    }
    .form-group label {
        font-size: 13px;
    }
    .col-lg-3 {
        flex: 0 0 24%;
        max-width: 25%;
    }
    .col-lg-3.col-md-3.col-6.search-reset {
        flex: 0 0 28%;
        max-width: 28%;
    }
    .highchart-title h3 {
        min-height: 63px;
    }
   
}
@media(max-width:1250px) {
    .rabies-test .row .col{
        flex: 0 1 33%;
    }
    .rabies-test .row .col.search-reset{
        flex: 0 1 27% !important;
        justify-content: end;
    }
    .row .report-generate .col-md-3 {
        flex: 0 1 33%;
        max-width: 33%;
    }
   
}
@media(max-width:1180px) {
    .quality-form .col {
        flex: 0 1 33%;
    }
    .quality-form .col.search-reset {
        flex: 0 1 67% !important;
        justify-content: end;
    }
}
@media(max-width:1100px) {
    .general-profile-filter .row .col.search-reset {
    justify-content: end;
}
.general-profile-filter .row .col {
    flex: 0 1 33%;
}
}
@media(min-width:1200px) {
    .general-profile-filter .row .col.search-reset {
    width: 100%;
    flex: 0 1 100% !important;
    justify-content: center;
}
}


@media print {
    #container {
        width: 100%;
    }

    .detailsDatas {
        width: 100%;
    }
}

@media(min-width:1341px) and (max-width:1469px){
    .form-group label{
        font-size: 15px;
    }
    .container-fluid{
        padding-right: 3.5px;
        padding-left: 3.5px;
    }
    .dashboard .dashboard-filter {
        padding: 5px 16px;
    }
    .nrcp-main-title{
        padding: 5px 16px !important;
    }
}
@media(min-width:1600px) and (max-width:1750px){
    .single_crm{
        min-height: 155px;
    }
}