@media(max-width:1300px){
    .user-icon i {
        font-size: 19px;
        margin-bottom: 7px;
        color: #0c72ad;
        background: #fff;
        border-radius: 100%;
        padding: 8px;
    }

    tspan.highChartTitle {
        font-size: 15px;
        font-weight: 700;
        color: #000 !important;
    }
}