 
body{
    // font-family: "Poppins", sans-serif;
    font-family: Arial, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
}
.bglightBlue{
background-color: rgb(217, 226, 243);
}
.bggrey{
  background-color: rgb(208, 206, 206);
}
strong{
    font-weight: 600 !important;
}
p{
    margin: 0;
}
.investigate-report table{
    margin: auto;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #000;
    th{
        p{
            color: #fff;
        }
    }
   
    p {
        font-size: 11px;
        margin: 0;
        color: #000;
        font-weight: 500;
        display: block;
        margin: 0;
        align-items: center;

        input[type="checkbox"] {
            width: 11px;
            margin-right: 12px;
        }
    }
    img{
        height: 90px;
    }
    td {
        padding: 3px 13px 3px 5px;
        border-bottom: 1px solid #000 !important;
        border-top:  1px solid #000 !important;
        border-left:  1px solid #000 !important;
        border-right: 1px solid #000 !important;
        
        &:last-child{
            border-right: 0;
        }
    }
    td[rowspan="2"]{
        border-left: 1px solid #000 !important;
    }
    table {
        margin: auto;
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #000 ;

        tr:first-child td{
            border-top: 1px solid #000 !important;
        }
        tr{
            td{
                border-left: 1px solid #000 !important;
            &:last-child{
                border-right: 1px solid #000;
            }
            }
        }
        th{
            padding: 5px 10px;
            &:first-child{
                border-left: 1px solid #000 !important;
            }
            &:last-child{
                border-right: 1px solid #000 !important;
            }
        }
    }
}
.container{
    margin: auto;
    box-shadow: 0px 0px 60px #ddd;
    padding: 27px;
}

@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1190px;
    }
}
@media (min-width: 1300px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1290px;
    }
}
@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1390px;
    }
}



.w-50{
    width: 50%;
}
.p-0{
    padding: 0;
}
.addressBlock{
    margin: 10px 0 30px;
        p{
        font-weight: 600;
    line-height: 1.7;
    }
}

.emailBlock{
    margin: 10px 0 30px;
        p{
        font-weight: 600;
        line-height: 1.7;
    }
}

.header{
    img{
        height: 100px;
    }
}
input[type="text"] {
    width: 100%;
}